/* Importovanie všetkých CSS súborov */
@import 'base.css';
@import 'buttons.css';
@import 'forms.css';
@import 'header.css';
@import 'tables.css';
@import 'layout.css';
@import 'calendar.css';
@import 'modal.css';
@import 'notifications.css';
@import 'Dashboard.css';

.user-info-wrapper {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.user-info {
  display: flex;
  align-items: center;
  background-color: #2c3e50;
  padding: 5px 10px;
  border-radius: 20px;
  margin-left: 10px;
  border: 1px solid #1a2530;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.user-icon {
  margin-right: 8px;
  color: #3498db;
  font-size: 16px;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}

.user-role {
  font-size: 12px;
  color: #c4dcf5;
  font-weight: 400;
} 